language: csharp

install:
  - mozroots --import --sync

matrix:
  include:
    - os: linux # Ubuntu 14.04
      dist: trusty
      sudo: required
      dotnet: 2.0.0
    - os: osx # OSX 10.12
      osx_image: xcode9.1
      dotnet: 2.0.0
      dist: trusty
      sudo: required

script: 
  - ./build.sh All

branches:
  except:
    - gh-pages