language: csharp

dotnet : 5.0.100

matrix:
  include:
    - os: linux
      sudo: required

script: 
  - dotnet --info
  - dotnet tool restore
  - dotnet build -c Release
  - dotnet test --no-restore --no-build -c Release tests/FSharp.Control.Reactive.Tests.fsproj
  - dotnet pack --no-restore -c Release --include-symbols

branches:
  except:
    - gh-pages
