version 5.241.2
source http://api.nuget.org/v3/index.json
redirects: on
storage: none

nuget fparsec
nuget FsCheck.Xunit
nuget FSharp.Core
nuget System.Reactive ~> 4.0
nuget Microsoft.Reactive.Testing ~> 4.0
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget FsCheck
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    source https://ci.appveyor.com/nuget/fsharp-formatting
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Cli
    nuget Fake.Tools.Git
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.FSFormatting
    nuget FSharp.Formatting >= 3 prerelease
    nuget FSharp.Formatting.CommandTool >= 3 prerelease
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.DotNet.Paket
    nuget NUnit
    nuget FsCheck
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.Hosting
    nuget Microsoft.AspNetCore.StaticFiles
